@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Latest Covid-19 Data</h1>
    <p>Click <a href="/dailydata">here for the latest covid-19 data</a>.</p>
</div>
